{% load static %}


<section class="section-padding" id="portfolio">
    <div style="margin-left: 50px; margin-right: 50px">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5 text-center" data-aos="fade-up">Gallery</h2>
            </div>

            <div class="col-lg-6 col-12">
                <div class="portfolio-thumb mb-5" data-aos="fade-up">
                    <a href="{% static 'images/Football.jpg' %}" class="image-popup">
                        <img src="{% static 'images/Football.jpg' %}" class="img-fluid portfolio-image"
                             alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4 class="portfolio-title mb-0">Sport</h4>
                    </div>
                </div>
                <div class="portfolio-thumb" data-aos="fade-up">
                    <a href="{% static 'images/lecture.jpg' %}" class="image-popup">
                        <img src="{% static 'images/lecture.jpg' %}" class="img-fluid portfolio-image" alt="">
                    </a>

                    <div class="portfolio-info">
                        <h4 class="portfolio-title mb-0">Lectures</h4>


                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="portfolio-thumb mt-5 mt-lg-0 mb-5" data-aos="fade-up">
                    <a href="{% static 'images/competitions.JPG' %}" class="image-popup">
                        <img src="{% static 'images/competitions.JPG' %}" class="img-fluid portfolio-image" alt="">
                    </a>

                    <div class="portfolio-info">
                        <h4 class="portfolio-title mb-0">Competitions</h4>
                    </div>
                </div>

                <div class="portfolio-thumb" data-aos="fade-up">
                    <a href="{% static 'images/lessons.jpg' %}" class="image-popup">
                        <img src="{% static 'images/lessons.jpg' %}" class="img-fluid portfolio-image" alt="">
                    </a>

                    <div class="portfolio-info">
                        <h4 class="portfolio-title mb-0">Lessons</h4>
                    </div>
                </div>

                <div class="portfolio-thumb" data-aos="fade-up">
                    <a href="{% static 'images/Adventure.jpg' %}" class="image-popup">
                        <img src="{% static 'images/Adventure.jpg' %}" class="img-fluid portfolio-image" alt="">
                    </a>

                    <div class="portfolio-info">
                        <h4 class="portfolio-title mb-0">Adventure</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


