{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nomad Force HTML Template - News Page</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap" rel="stylesheet">


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-nomad-force.css' %}" rel="stylesheet">
<!--

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

-->
    </head>

    <body>

        <main>

            <section class="hero" id="hero">
                <div class="heroText">
                    <h1 class="news-detail-title text-white mt-lg-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="300">
                        {{ new.title }}
                    </h1>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="disabled social-share-link bi-bookmark-fill ms-3 me-4">
                            <span>{{ new.created_at.date }}</span>
                        </a>


                    </div>
                </div>

                <div class="videoWrapper">
                    <img src="/media/{{ new.image1 }}" class="img-fluid news-detail-image" alt="">
                </div>

                <div class="overlay"></div>
            </section>

            <nav class="navbar navbar-expand-lg bg-light shadow-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <strong>Ibrat Camp</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}#hero">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}#about">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}#portfolio">Gallery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}#news">News & Events</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <section class="news-detail section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-10 mx-auto">
                            <h2 class="mb-3" data-aos="fade-up">{{ new.title }}</h2>



                            <p data-aos="fade-up">{{ new.text }}</p>
                            <div class="clearfix my-4 mt-lg-0 mt-5">
                                <div class="container mt-5" data-aos="fade-up">
                                    <figure class="figure">
                                        <img src="/media/{{ new.image2 }}" class="img-fluid news-image" alt="" style="width: 800px; height: 600px; object-fit: cover; object-position: center">
                                    </figure>
                                </div>

                        </div>

                    </div>
                </div>
            </section>


        </main>

    <section class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95887.40098078322!2d69.1101091972656!3d41.320146799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b1d9922d86f%3A0xe614bd548b4a88ac!2z0JDQs9C10L3RgdGC0LLQviDQv9C-INC00LXQu9Cw0Lwg0LzQvtC70L7QtNGR0LbQuA!5e0!3m2!1sru!2s!4v1693311504587!5m2!1sru!2s"
                class="map-iframe" width="100%" height="400" style="border:0;" allowfullscreen=""
                loading="lazy"></iframe>
    </section>

</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h5 class="text-white">
                    <i class="bi-geo-alt-fill me-2"></i>
                    Yoshlar Ishlari Agentligi
                </h5>

            </div>

            <div class="col-6">


                   Design: <a href="https://t.me/shakha0077" target="_parent">ShakhaDaily</a></p>

            </div>

            </section>
        </footer>

        <!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<script src="{% static 'js/scrollspy.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
